html {
  scroll-behavior: smooth;
}

$colors: (
  primary: #0db2b3,
  primary-dark: #0c797a,
  primary-light: #cfeff0,
  primary-extra-light: #eefafa,

  text-main: #7c7c7c,
  text-light: #4f4f4f,
  text-primary: #131313,
  text-secondary: #333,

  border: #d0d0d0,
  border-light: #bdbdbd,
  background: #f7f7f7,
);

@function colors($name) {
  @return map.get($colors, $name);
}
