.icon {
  display: block;
  background-image: url(/src/images/icons/icon-burger-menu-crazybaby.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;

  &--close {
    background-image: url(/src/images/icons/icon-close-crazybaby.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}
