.picture {
  box-sizing: border-box;
  margin: 70px 12px;
  background-image: url(/src/images/meet-luma-crazybaby-mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 195px;

  @include onTablet {
    background-image: url(/src/images/meet-luma-crazybaby-tb.jpg);
    min-height: 430px;
    margin: 140px 34px;
  }

  @include onDesktop {
    background-image: url(/src/images/meet-luma-crazybaby-ds.jpg);
    min-height: 520px;
    margin: 170px 0;
  }
}
